{% extends "base.html" %}
{% load static %}
{% block load_static %}<link href="{% static "css/auth.css" %}" rel="stylesheet">{% endblock %}
{% block content %}
<div class="login-container"> 
    <h2>Авторизация</h2>
    <form method="post">
      {% csrf_token %}
      {% if form.errors %}
      <div class="error_form">
        Неверный логин или пароль.
      </div>
      {% endif %}
      <input type="text" placeholder="Имя пользователя" name="username" required>
      <input type="password" placeholder="Пароль" name="password" required>
      <input type="submit" value="Войти">
    </form>
</div>
{% endblock %}